@model AdminModule.Models.VideoListViewModel

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Id)</th>
            <th>@Html.DisplayNameFor(model => model.Videos.FirstOrDefault().CreatedAt)</th>
            <th>@Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Name)</th>
            <th>@Html.DisplayNameFor(model => model.Videos.FirstOrDefault().Description)</th>
            <th>Genre</th>
            <th>@Html.DisplayNameFor(model => model.Videos.FirstOrDefault().TotalSeconds)</th>
            <th>@Html.DisplayNameFor(model => model.Videos.FirstOrDefault().StreamingUrl)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Videos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalSeconds)</td>
                <td>@Html.DisplayFor(modelItem => item.StreamingUrl)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (Model.CurrentPage > 1)
    {
        <button class="btn btn-primary" data-page="@Model.CurrentPage - 1" onclick="loadPage(@Model.CurrentPage - 1)">Back</button>
    }

    <span class="mx-2">Page @Model.CurrentPage of @Model.TotalPages</span>

    @if (Model.CurrentPage < Model.TotalPages)
    {
        <button class="btn btn-primary" data-page="@Model.CurrentPage + 1" onclick="loadPage(@Model.CurrentPage + 1)">Forward</button>
    }
</div>

<script>
    function loadPage(page) {
        var searchQuery = "@Model.SearchQuery";
        $.ajax({
            url: "/Video/Index",
            type: "GET",
            data: { searchQuery: searchQuery, page: page },
            success: function (result) {
                $("#video-list-container").html(result);
            }
        });
    }
</script>